In [7]:
import os
 
dirpath = os.getcwd()
print("current directory is : " + dirpath)
foldername = os.path.basename(dirpath)
print("Directory name is : " + foldername)

current directory is : c:\
Directory name is :

In [10]:
import os
import glob
import pandas

path = 'C:/Users/Christopher/Documents/GitHub/Fall2_Homework/data/Well Data_Split/'
extension = 'csv'
os.chdir(path)
result = [i for i in glob.glob('*.{}'.format(extension))]
print(result)

['F-179.csv', 'F-319.csv', 'F-45.csv', 'G-1220.csv', 'G-1260_Done.csv', 'G-2147.csv', 'G-2866.csv', 'G-3549.csv', 'G-561.csv', 'G-580A.csv', 'G-852_NO_TIDE.csv', 'G-860.csv', 'PB-1680.csv']

# Read file

In [ ]:
# Problrms with
0

In [297]:
df = pd.read_csv('G-1260_Done.csv')

In [296]:
df.head()

             DateHour1  TideLevel  WellLevel  RainLevel  Predicted  Unnamed: 5
0  10/01/2007 01:00:00     -0.098      5.802   0.010667        NaN         NaN
1  10/01/2007 02:00:00      0.000      5.822   0.016417        NaN         NaN
2  10/01/2007 03:00:00     -0.273      5.862   0.000000        NaN         NaN
3  10/01/2007 04:00:00     -0.822      5.892   0.000000        NaN         NaN
4  10/01/2007 05:00:00     -1.475      5.892   0.000000    5.89647         NaN

In [305]:
start = '2007-10-01 01:00:00'
end = '2018-06-08 11:00:00'
time_range = pd.date_range(start=start, end=end,freq='H')

In [307]:
len(time_range)

93683

In [258]:
file = result[1]
df = pd.read_csv(file)

if 'Code' in df:
    df = df[df.Code == "A"]

C:\Users\Christopher\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,1,2,4,5,6,7,9,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [220]:
df.head()

,TideDateHour,Date,Time,Tide_ft,WellDateHour,date,time,tz_cd,Well_ft,Code,Corrected,RainDateHour,Date.1,RAIN_FT
0,2007/10/01 01:00,10/1/07,1:00,0.088,2007/10/01 01:00,10/1/2007,1:00,EDT,3.40,A,1.858,2007/10/01 01:00,2007/10/01 01:00,0.001500
1,2007/10/01 02:00,10/1/07,2:00,0.368,2007/10/01 02:00,10/1/2007,2:00,EDT,3.41,A,1.868,2007/10/01 01:00,2007/10/01 01:15,0.001083
2,2007/10/01 03:00,10/1/07,3:00,0.788,2007/10/01 03:00,10/1/2007,3:00,EDT,3.42,A,1.878,2007/10/01 01:00,2007/10/01 01:30,0.000833
3,2007/10/01 04:00,10/1/07,4:00,1.268,2007/10/01 04:00,10/1/2007,4:00,EDT,3.42,A,1.878,2007/10/01 01:00,2007/10/01 01:45,0.003833
4,2007/10/01 05:00,10/1/07,5:00,1.688,2007/10/01 05:00,10/1/2007,5:00,EDT,3.43,A,1.888,2007/10/01 02:00,2007/10/01 02:00,0.004250

# Aggregate Tide Water Elevation

In [221]:
#%% Create a set format for which to read the string as a datetime variable
tide = df.loc[:, ['TideDateHour', 'Tide_ft']]


time_format = "%Y/%m/%d %H:%M"

tide['TideDateHour'] = pd.to_datetime(tide['TideDateHour'], format = time_format)

#%% Reorganize the column order
#df = df[['date_hour','date','time','Corrected']]

#%% Setting index to be the date_hour column
tide = tide.set_index('TideDateHour')

#%% Select dates in the range required
data_tide = tide['2007-10-01 01:00:00':'2018-06-08 11:00:00']

#%% Resample data to hourly
data_tide = data_tide.resample('H').mean()

data_tide['Tide_ft'] = data_tide['Tide_ft'].interpolate()

#%% Write the final clean data to csv
#data_hourly.to_csv('G-1260_Hourly.csv')

In [222]:
len(data_tide)

91906

In [223]:
assert len(data_tide) == 92244

AssertionError:

In [224]:
assert sum(data_tide.Tide_ft.isna()) == 0

# Aggregate Rain

In [237]:
#%% Create a set format for which to read the string as a datetime variable
rain = df.loc[:, ['RainDateHour', 'RAIN_FT']]


time_format = "%Y/%m/%d %H:%M"

rain['RainDateHour'] = pd.to_datetime(rain['RainDateHour'], format = time_format)

#%% Reorganize the column order
#df = df[['date_hour','date','time','Corrected']]

#%% Setting index to be the date_hour column
rain = rain.set_index('RainDateHour')

print(data_rain.tail())
#%% Select dates in the range required
data_rain = rain['2007-10-01 01:00:00':'2018-06-08 11:00:00']

#%% Resample data to hourly
data_rain = data_rain.resample('H').mean()

data_rain['RAIN_FT'] = data_rain['RAIN_FT'].interpolate()

#%% Write the final clean data to csv
#data_hourly.to_csv('G-1260_Hourly.csv')

                     RAIN_FT
RainDateHour
2010-12-26 19:00:00      0.0
2010-12-26 20:00:00      0.0
2010-12-26 21:00:00      0.0
2010-12-26 22:00:00      0.0
2010-12-26 23:00:00      0.0

In [226]:
len(data_rain)

28391

In [228]:
assert len(data_rain) == 92244

AssertionError:

In [236]:
assert sum(data_rain.RAIN_FT.isna()) == 0

# Aggregate Well

In [267]:
#%% Create a set format for which to read the string as a datetime variable
well = df.loc[:, ['WellDateHour', 'Well_ft']]



well['WellDateHour'] = pd.to_datetime(well['WellDateHour'], format = time_format)

#%% Reorganize the column order
#df = df[['date_hour','date','time','Corrected']]

#%% Setting index to be the date_hour column
well = well.set_index('WellDateHour')

#%% Select dates in the range required
data_narrow = well['2007-10-01 01:00:00':'2018-06-08 11:00:00']

#%% Resample data to hourly
data_well = data_narrow.resample('H').mean()

data_well['Well_ft'] = data_well.Well_ft.interpolate()

#%% Write the final clean data to csv
#data_hourly.to_csv('G-1260_Hourly.csv')

In [274]:
len(data_well.Well_ft.fillna('ffill'))

92243

In [268]:
len(data_well)

92243

In [270]:
df.tail()

,TideDateHour,Date,Time,Tide_ft,WellDateHour,date,time,tz_cd,Well_ft,Code,Corrected,RainDateHour,Date.1,RAIN_FT
103757,NaN,NaN,NaN,NaN,2018/04/09 10:00,4/9/2018,10:00,EDT,2.75,A,1.201,2010/09/15 20:00,9/15/2010 20:15,0.000000
103758,NaN,NaN,NaN,NaN,2018/04/09 10:00,4/9/2018,10:15,EDT,2.75,A,1.201,2010/09/15 20:00,9/15/2010 20:30,0.000000
103759,NaN,NaN,NaN,NaN,2018/04/09 10:00,4/9/2018,10:30,EDT,2.74,A,1.191,2010/09/15 20:00,9/15/2010 20:45,0.000000
103760,NaN,NaN,NaN,NaN,2018/04/09 10:00,4/9/2018,10:45,EDT,2.74,A,1.191,2010/09/15 21:00,9/15/2010 21:00,0.000833
103761,NaN,NaN,NaN,NaN,2018/04/09 11:00,4/9/2018,11:00,EDT,2.74,A,1.191,2010/09/15 21:00,9/15/2010 21:15,0.000000

In [271]:
assert len(data_well) == 92244

AssertionError:

In [272]:
assert sum(data_well.Well_ft.isna()) == 0

# Merge all of the data into one table and save

In [233]:
file

'F-45.csv'

In [257]:
len(time_range)

93683

In [253]:
full = pd.DataFrame(index=pd.DatetimeIndex(time_range))

ValueError: Unknown string format

In [252]:
full.info

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [243]:
full['Well_ft'] = data_well['Well_ft']
full['Tide_ft'] = data_tide['Tide_ft']
full['Rain_ft'] = data_rain['RAIN_FT']
full.index.name = 'DateHour'

TypeError: incompatible index of inserted column with frame index

In [238]:
assert not sum(full.Tide_ft.isna())
assert not sum(full.Rain_ft.isna())
assert not sum(full.Well_ft.isna())

AssertionError:

In [193]:
new_file = "final_wells/" + file[0:len(file)-4] + "_ALL.csv"

In [194]:
full.to_csv(new_file, index=True)