In [7]:
import os
 
dirpath = os.getcwd()
print("current directory is : " + dirpath)
foldername = os.path.basename(dirpath)
print("Directory name is : " + foldername)

current directory is : c:\
Directory name is :

In [10]:
import os
import glob
import pandas

path = 'C:/Users/Christopher/Documents/GitHub/Fall2_Homework/data/Well Data_Split/'
extension = 'csv'
os.chdir(path)
result = [i for i in glob.glob('*.{}'.format(extension))]
print(result)

['F-179.csv', 'F-319.csv', 'F-45.csv', 'G-1220.csv', 'G-1260_Done.csv', 'G-2147.csv', 'G-2866.csv', 'G-3549.csv', 'G-561.csv', 'G-580A.csv', 'G-852_NO_TIDE.csv', 'G-860.csv', 'PB-1680.csv']

# Read file

In [487]:
# Dont do number 4
# Problems with 11, 12
# Next to do: 12

In [488]:
start = '2007-10-01 01:00:00'
end = '2018-06-08 11:00:00'
time_range = pd.date_range(start=start, end=end,freq='H')

In [489]:
len(time_range)

93683

In [512]:
file

'PB-1680.csv'

In [510]:
file = result[12]
df = pd.read_csv(file)

if 'Code' in df:
    df = df[df.Code == "A"]

C:\Users\Christopher\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,2,3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [513]:
df.head()

,DateHour,TideLevel,WellDateHour,date,time,tz_cd,Well_ft,Code,Corrected,RainDateHour,Date,RAIN_FT
0,10/1/2007 1:00,-0.098,2007/10/01 01:00,10/1/2007,1:00,EDT,4.43,A,2.872,2007/10/01 01:00,10/1/2007 1:00,0.000000
1,10/1/2007 2:00,0.000,2007/10/01 02:00,10/1/2007,2:00,EDT,4.44,A,2.882,2007/10/01 01:00,10/1/2007 1:15,0.000000
2,10/1/2007 3:00,-0.273,2007/10/01 03:00,10/1/2007,3:00,EDT,4.44,A,2.882,2007/10/01 01:00,10/1/2007 1:30,0.000000
3,10/1/2007 4:00,-0.822,2007/10/01 04:00,10/1/2007,4:00,EDT,4.44,A,2.882,2007/10/01 01:00,10/1/2007 1:45,0.000000
4,10/1/2007 5:00,-1.475,2007/10/01 05:00,10/1/2007,5:00,EDT,4.44,A,2.882,2007/10/01 02:00,10/1/2007 2:00,0.005333

# Aggregate Tide Water Elevation

In [509]:
df.head()

,TideDateHour,Date,Time,Tide_ft,WellDateHour,date,time,tz_cd,Well_ft,Code,Corrected,RainDateHour,Date.1,RAIN_FT
0,2007/10/01 01:00,10/1/2007,1:00,0.085,2007/10/01 01:00,10/1/2007,1:00,EDT,2.33,A,0.795,2007/10/01 01:00,10/1/07 1:00,0.0
1,2007/10/01 02:00,10/1/2007,2:00,0.385,2007/10/01 02:00,10/1/2007,2:00,EDT,2.38,A,0.845,2007/10/01 01:00,10/1/07 1:15,0.0
2,2007/10/01 03:00,10/1/2007,3:00,0.755,2007/10/01 03:00,10/1/2007,3:00,EDT,2.42,A,0.885,2007/10/01 01:00,10/1/07 1:30,0.0
3,2007/10/01 04:00,10/1/2007,4:00,1.205,2007/10/01 04:00,10/1/2007,4:00,EDT,2.47,A,0.935,2007/10/01 01:00,10/1/07 1:45,0.0
4,2007/10/01 05:00,10/1/2007,5:00,1.675,2007/10/01 05:00,10/1/2007,5:00,EDT,2.49,A,0.955,2007/10/01 02:00,10/1/07 2:00,0.0

In [511]:
#%% Create a set format for which to read the string as a datetime variable
tide = df.loc[:, ['TideDateHour', 'Tide_ft']]


time_format = "%Y/%m/%d %H:%M"

tide['TideDateHour'] = pd.to_datetime(tide['TideDateHour'], format = time_format)

#%% Reorganize the column order
#df = df[['date_hour','date','time','Corrected']]

#%% Setting index to be the date_hour column
tide = tide.set_index('TideDateHour')

#%% Select dates in the range required
data_tide = tide['2007-10-01 01:00:00':'2018-06-08 11:00:00']

#%% Resample data to hourly
data_tide = data_tide.resample('H').mean()

data_tide['Tide_ft'] = data_tide['Tide_ft'].interpolate()

#%% Write the final clean data to csv
#data_hourly.to_csv('G-1260_Hourly.csv')

KeyError: "None of [['TideDateHour', 'Tide_ft']] are in the [columns]"

# Aggregate Rain

In [493]:
#%% Create a set format for which to read the string as a datetime variable
rain = df.loc[:, ['RainDateHour', 'RAIN_FT']]


time_format = "%Y/%m/%d %H:%M"

rain['RainDateHour'] = pd.to_datetime(rain['RainDateHour'], format = time_format)

#%% Reorganize the column order
#df = df[['date_hour','date','time','Corrected']]

#%% Setting index to be the date_hour column
rain = rain.set_index('RainDateHour')

print(data_rain.tail())
#%% Select dates in the range required
data_rain = rain['2007-10-01 01:00:00':'2018-06-08 11:00:00']

#%% Resample data to hourly
data_rain = data_rain.resample('H').mean()

data_rain['RAIN_FT'] = data_rain['RAIN_FT'].interpolate()

#%% Write the final clean data to csv
#data_hourly.to_csv('G-1260_Hourly.csv')

                      RAIN_FT
RainDateHour
2010-08-15 11:00:00  0.000000
2010-08-15 12:00:00  0.000000
2010-08-15 13:00:00  0.000000
2010-08-15 14:00:00  0.000000
2010-08-15 15:00:00  0.006667

# Aggregate Well

In [494]:
#%% Create a set format for which to read the string as a datetime variable
well = df.loc[:, ['WellDateHour', 'Well_ft']]



well['WellDateHour'] = pd.to_datetime(well['WellDateHour'], format = time_format)

#%% Reorganize the column order
#df = df[['date_hour','date','time','Corrected']]

#%% Setting index to be the date_hour column
well = well.set_index('WellDateHour')

#%% Select dates in the range required
data_narrow = well['2007-10-01 01:00:00':'2018-06-08 11:00:00']

#%% Resample data to hourly
data_well = data_narrow.resample('H').mean()

data_well['Well_ft'] = data_well.Well_ft.interpolate()

#%% Write the final clean data to csv
#data_hourly.to_csv('G-1260_Hourly.csv')

# Merge all of the data into one table and save

In [495]:
file

'G-580A.csv'

In [496]:
len(time_range)

93683

In [497]:
full = pd.DataFrame(index=pd.DatetimeIndex(time_range))

In [498]:
full.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 93683 entries, 2007-10-01 01:00:00 to 2018-06-08 11:00:00
Freq: H
Empty DataFrame

In [499]:
full['Well_ft'] = data_well['Well_ft']
full['Tide_ft'] = data_tide['Tide_ft']
full['Rain_ft'] = data_rain['RAIN_FT']
full.index.name = 'DateHour'

In [500]:
full.Tide_ft.interpolate(inplace=True)
full.Tide_ft.fillna(method='ffill', inplace=True)
full.Tide_ft.fillna(method='bfill', inplace=True)


full.Rain_ft.interpolate(inplace=True)
full.Rain_ft.fillna(method='ffill', inplace=True)
full.Rain_ft.fillna(method='bfill', inplace=True)

full.Well_ft.interpolate(inplace=True)
full.Well_ft.fillna(method='ffill', inplace=True)
full.Well_ft.fillna(method='bfill', inplace=True)

In [501]:
assert not sum(full.Tide_ft.isna())
assert not sum(full.Rain_ft.isna())
assert not sum(full.Well_ft.isna())

In [502]:
new_file = "final_wells/" + file[0:len(file)-4] + "_ALL.csv"

In [503]:
new_file

'final_wells/G-580A_ALL.csv'

In [504]:
full.to_csv(new_file, index=True)

# Incorporate Predicted Well Water Elevation After SAS Prediction

In [633]:
file = result[11]
well = file[:len(file)-4].replace("_", "").replace("-", "")
well_name = "Well " + file[:len(file)-4]
well_name

'Well G-860'

In [626]:
pred = pd.read_sas("C:/Users/Christopher/Documents/GitHub/Fall2_Homework/data/Well Data_Split/final_wells/" + well + "_all_pred.sas7bdat")
full = pd.read_csv("C:/Users/Christopher/Documents/GitHub/Fall2_Homework/data/Well Data_Split/final_wells/" + well + "_ALL.csv", index_col='DateHour')
pred.set_index(full.index, inplace=True)

In [627]:
full.head()

                     Well_ft  Tide_ft   Rain_ft
DateHour
2007-10-01 01:00:00     2.92    1.328  0.001188
2007-10-01 02:00:00     2.93    0.978  0.005375
2007-10-01 03:00:00     2.93    0.558  0.009625
2007-10-01 04:00:00     2.95    0.138  0.013625
2007-10-01 05:00:00     2.96   -0.052  0.003125

In [628]:
pred.head()

                     Well_ft  FORECAST       STD       L95       U95  RESIDUAL
DateHour
2007-10-01 01:00:00     2.92       NaN       NaN       NaN       NaN       NaN
2007-10-01 02:00:00     2.93       NaN       NaN       NaN       NaN       NaN
2007-10-01 03:00:00     2.93       NaN       NaN       NaN       NaN       NaN
2007-10-01 04:00:00     2.95       NaN       NaN       NaN       NaN       NaN
2007-10-01 05:00:00     2.96  2.964296  0.008857  2.946937  2.981655 -0.004296

In [629]:
full[well_name + " Well Level"] = full.Well_ft
full[well_name + " Tide Level"] = full.Tide_ft
full[well_name + " Rain Level"] = full.Rain_ft
full[well_name + " Predicted Well Level"] = pred['FORECAST']
full[well_name + " Lower 95% Confidence Interval"] = pred.L95
full[well_name + " Upper 95% Confidence Interval"] = pred.U95

In [630]:
full.head()

,Well_ft,Tide_ft,Rain_ft,Well G-580A Well Level,Well G-580A Tide Level,Well G-580A Rain Level,Well G-580A Predicted Well Level,Well G-580A Lower 95% Confidence Interval,Well G-580A Upper 95% Confidence Interval
DateHour,,,,,,,,,
2007-10-01 01:00:00,2.92,1.328,0.001188,2.92,1.328,0.001188,NaN,NaN,NaN
2007-10-01 02:00:00,2.93,0.978,0.005375,2.93,0.978,0.005375,NaN,NaN,NaN
2007-10-01 03:00:00,2.93,0.558,0.009625,2.93,0.558,0.009625,NaN,NaN,NaN
2007-10-01 04:00:00,2.95,0.138,0.013625,2.95,0.138,0.013625,NaN,NaN,NaN
2007-10-01 05:00:00,2.96,-0.052,0.003125,2.96,-0.052,0.003125,2.964296,2.946937,2.981655

In [631]:
full = full.iloc[:, 3:]
full.to_csv("C:/Users/Christopher/Documents/GitHub/Fall2_Homework/data/Well Data_Split/final_wells/" + well + "_FINAL.csv", index=True)