In [7]:
import os
 
dirpath = os.getcwd()
print("current directory is : " + dirpath)
foldername = os.path.basename(dirpath)
print("Directory name is : " + foldername)

current directory is : c:\
Directory name is :

In [10]:
import os
import glob

path = 'C:/Users/Christopher/Documents/GitHub/Fall2_Homework/data/Well Data_Split/'
extension = 'csv'
os.chdir(path)
result = [i for i in glob.glob('*.{}'.format(extension))]
print(result)

['F-179.csv', 'F-319.csv', 'F-45.csv', 'G-1220.csv', 'G-1260_Done.csv', 'G-2147.csv', 'G-2866.csv', 'G-3549.csv', 'G-561.csv', 'G-580A.csv', 'G-852_NO_TIDE.csv', 'G-860.csv', 'PB-1680.csv']

In [11]:
file = result[1]

# Read file

In [61]:
import pandas as pd
df = pd.read_csv(file)

C:\Users\Christopher\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,1,2,4,5,6,7,9,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
df.head()

,TideDateHour,Date,Time,Tide_ft,WellDateHour,date,time,tz_cd,Well_ft,Code,Corrected,RainDateHour,Date.1,RAIN_FT
0,10/1/2007 1:00,10/1/2007,1:00,0.965,2007/10/01 01:00,10/1/2007,1:00,EDT,3.05,A,1.501,2007/10/01 01:00,10/1/2007 1:00,0.015250
1,10/1/2007 2:00,10/1/2007,2:00,0.358,2007/10/01 02:00,10/1/2007,2:00,EDT,3.05,A,1.501,2007/10/01 01:00,10/1/2007 1:15,0.002583
2,10/1/2007 3:00,10/1/2007,3:00,-0.144,2007/10/01 03:00,10/1/2007,3:00,EDT,3.06,A,1.511,2007/10/01 01:00,10/1/2007 1:30,0.002583
3,10/1/2007 4:00,10/1/2007,4:00,-0.623,2007/10/01 04:00,10/1/2007,4:00,EDT,3.06,A,1.511,2007/10/01 01:00,10/1/2007 1:45,0.000500
4,10/1/2007 5:00,10/1/2007,5:00,-0.994,2007/10/01 05:00,10/1/2007,5:00,EDT,3.09,A,1.541,2007/10/01 02:00,10/1/2007 2:00,0.008417

# Aggregate Well Water Elevation

In [45]:
tide = df.groupby('TideDateHour').mean()

In [47]:
tide = tide.set_index(pd.DatetimeIndex(tide.index))

In [54]:
print(len(tide))
tide.head()

92244

                     Tide_ft  Well_ft  Corrected   RAIN_FT
TideDateHour
2008-01-01 00:00:00   -0.741     2.17      0.621  0.000000
2008-01-01 10:00:00   -1.417     2.17      0.621  0.000000
2008-01-01 11:00:00   -1.207     2.17      0.621  0.000000
2008-01-01 12:00:00   -0.889     2.17      0.621  0.000000
2008-01-01 13:00:00   -0.604     2.17      0.621  0.002583

# Aggregate Rain

In [50]:
rain = df.groupby('RainDateHour').mean()

In [51]:
rain = rain.set_index(pd.DatetimeIndex(rain.index))

In [53]:
print(len(rain))
rain.head()

92244

                     Tide_ft  Well_ft  Corrected   RAIN_FT
RainDateHour
2007-10-01 01:00:00  0.13900   3.0550     1.5060  0.005229
2007-10-01 02:00:00 -0.87925   3.1625     1.6135  0.004708
2007-10-01 03:00:00  0.76875   3.5800     2.0310  0.005083
2007-10-01 04:00:00  0.64950   3.7600     2.2110  0.005771
2007-10-01 05:00:00 -0.40025   3.7675     2.2185  0.001708

# Aggregate Well

In [62]:
well = df.groupby('WellDateHour').mean()

In [63]:
well = well.set_index(pd.DatetimeIndex(well.index))

In [64]:
print(len(well))
well.head()

90222

                     Tide_ft  Well_ft  Corrected   RAIN_FT
WellDateHour
2007-10-01 01:00:00    0.965     3.05      1.501  0.015250
2007-10-01 02:00:00    0.358     3.05      1.501  0.002583
2007-10-01 03:00:00   -0.144     3.06      1.511  0.002583
2007-10-01 04:00:00   -0.623     3.06      1.511  0.000500
2007-10-01 05:00:00   -0.994     3.09      1.541  0.008417