In [7]:
import os
 
dirpath = os.getcwd()
print("current directory is : " + dirpath)
foldername = os.path.basename(dirpath)
print("Directory name is : " + foldername)

current directory is : c:\
Directory name is :

In [10]:
import os
import glob

path = 'C:/Users/Christopher/Documents/GitHub/Fall2_Homework/data/Well Data_Split/'
extension = 'csv'
os.chdir(path)
result = [i for i in glob.glob('*.{}'.format(extension))]
print(result)

['F-179.csv', 'F-319.csv', 'F-45.csv', 'G-1220.csv', 'G-1260_Done.csv', 'G-2147.csv', 'G-2866.csv', 'G-3549.csv', 'G-561.csv', 'G-580A.csv', 'G-852_NO_TIDE.csv', 'G-860.csv', 'PB-1680.csv']

In [11]:
file = result[1]

# Read file

In [92]:
import pandas as pd
df = pd.read_csv(file)

C:\Users\Christopher\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,1,2,4,5,6,7,9,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
df.head()

,TideDateHour,Date,Time,Tide_ft,WellDateHour,date,time,tz_cd,Well_ft,Code,Corrected,RainDateHour,Date.1,RAIN_FT
0,10/1/2007 1:00,10/1/2007,1:00,0.965,2007/10/01 01:00,10/1/2007,1:00,EDT,3.05,A,1.501,2007/10/01 01:00,10/1/2007 1:00,0.015250
1,10/1/2007 2:00,10/1/2007,2:00,0.358,2007/10/01 02:00,10/1/2007,2:00,EDT,3.05,A,1.501,2007/10/01 01:00,10/1/2007 1:15,0.002583
2,10/1/2007 3:00,10/1/2007,3:00,-0.144,2007/10/01 03:00,10/1/2007,3:00,EDT,3.06,A,1.511,2007/10/01 01:00,10/1/2007 1:30,0.002583
3,10/1/2007 4:00,10/1/2007,4:00,-0.623,2007/10/01 04:00,10/1/2007,4:00,EDT,3.06,A,1.511,2007/10/01 01:00,10/1/2007 1:45,0.000500
4,10/1/2007 5:00,10/1/2007,5:00,-0.994,2007/10/01 05:00,10/1/2007,5:00,EDT,3.09,A,1.541,2007/10/01 02:00,10/1/2007 2:00,0.008417

# Aggregate Tide Water Elevation

In [29]:
tide = df.set_index(pd.DatetimeIndex(df['TideDateHour']))

In [44]:
tide = df

In [45]:
tide = df.groupby('TideDateHour').mean()

In [47]:
tide = tide.set_index(pd.DatetimeIndex(tide.index))

In [154]:
print(len(data_tide))
tide.head()

92244

                     Tide_ft
TideDateHour
2007-10-01 01:00:00    0.965
2007-10-01 02:00:00    0.358
2007-10-01 03:00:00   -0.144
2007-10-01 04:00:00   -0.623
2007-10-01 05:00:00   -0.994

92244

In [153]:
#%% Create a set format for which to read the string as a datetime variable
tide = df.loc[:, ['TideDateHour', 'Tide_ft']]


time_format = "%m/%d/%Y %H:%M"

tide['TideDateHour'] = pd.to_datetime(tide['TideDateHour'], format = time_format)

#%% Reorganize the column order
#df = df[['date_hour','date','time','Corrected']]

#%% Setting index to be the date_hour column
tide = tide.set_index('TideDateHour')

#%% Select dates in the range required
data_tide = tide['2007-10-01 01:00:00':'2018-06-08 11:00:00']

#%% Resample data to hourly
data_tide = data_tide.resample('H').mean()

data_tide['Tide_ft'] = data_tide['Tide_ft'].interpolate()

#%% Write the final clean data to csv
#data_hourly.to_csv('G-1260_Hourly.csv')

# Aggregate Rain

In [49]:
rain = df

In [50]:
rain = df.groupby('RainDateHour').mean()

In [51]:
rain = rain.set_index(pd.DatetimeIndex(rain.index))

In [ ]:
loc[:, 'Tide_ft']

In [144]:
print(len(tide))
tide.head()

446977

                     Tide_ft
TideDateHour
2007-10-01 01:00:00    0.965
2007-10-01 02:00:00    0.358
2007-10-01 03:00:00   -0.144
2007-10-01 04:00:00   -0.623
2007-10-01 05:00:00   -0.994

In [141]:
#%% Create a set format for which to read the string as a datetime variable
rain = df.loc[:, ['RainDateHour', 'RAIN_FT']]


time_format = "%Y/%m/%d %H:%M"

rain['RainDateHour'] = pd.to_datetime(rain['RainDateHour'], format = time_format)

#%% Reorganize the column order
#df = df[['date_hour','date','time','Corrected']]

#%% Setting index to be the date_hour column
rain = rain.set_index('RainDateHour')

#%% Select dates in the range required
data_rain = rain['2007-10-01 01:00:00':'2018-06-08 11:00:00']

#%% Resample data to hourly
data_rain = data_rain.resample('H').mean()

data_rain['RAIN_FT'] = data_rain['RAIN_FT'].interpolate()

#%% Write the final clean data to csv
#data_hourly.to_csv('G-1260_Hourly.csv')

# Aggregate Well

In [157]:
#%% Create a set format for which to read the string as a datetime variable
well = df.loc[:, ['WellDateHour', 'Well_ft']]


time_format = "%Y/%m/%d %H:%M"

well['WellDateHour'] = pd.to_datetime(well['WellDateHour'], format = time_format)

#%% Reorganize the column order
#df = df[['date_hour','date','time','Corrected']]

#%% Setting index to be the date_hour column
well = well.set_index('WellDateHour')

#%% Select dates in the range required
data_narrow = well['2007-10-01 01:00:00':'2018-06-08 11:00:00']

#%% Resample data to hourly
data_well = data_narrow.resample('H').mean()

data_well['Well_ft'] = data_well.Well_ft.interpolate()

#%% Write the final clean data to csv
#data_hourly.to_csv('G-1260_Hourly.csv')

In [158]:
len(data_well)

92244

# Merge all of the data into one table and save

In [159]:
file

'F-319.csv'

In [169]:
full = data_well
full['Tide_ft'] = data_tide['Tide_ft']
full['Rain_ft'] = data_rain['RAIN_FT']

In [175]:
assert not sum(full.Tide_ft.isna())
assert not sum(full.Rain_ft.isna())
assert not sum(full.Well_ft.isna())

In [178]:
new_file = file[0:len(file)-4] + "_ALL.csv"

In [179]:
full.to_csv(new_file, index=False)